.axis {
	stroke: var(--sapTextColor);
	stroke-width: 1px;
}

.axisLabel {
	fill: var(--sapTextColor);
	opacity: 0.54;
	font-size: 12px;
	text-anchor: middle;
}

.axisTickLabel {
	font-size: var(--axis-tick-label-size);
	fill: var(--sapTextColor);
	opacity: 0.54;
	text-anchor: end;
}

.verticalGrid {
	stroke: var(--sapTextColor);
	opacity: 0.04;
	stroke-width: 1px;
	stroke-dasharray: 2;
}

.horizontalGrid {
	stroke: var(--sapTextColor);
	opacity: 0.04;
	stroke-width: 1px;
}
