.userMessageRoot {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--reltio-user-message-background, #f5f5fa);
	padding: var(--reltio-user-message-padding, 12px 16px);
	border-radius: var(--reltio-user-message-border-radius, 12px);
	max-width: var(--reltio-user-message-max-width, 80%);
}
