.axisTick {
	stroke: var(--sapTextColor);
	stroke-width: 1px;
	opacity: 0.54;
}

.axisTickLabel {
	font-size: 10px;
	fill: var(--sapTextColor);
	opacity: 0.54;
	text-anchor: middle;
}

.axisLabel {
	fill: var(--sapTextColor);
	opacity: 0.54;
	font-size: 12px;
	text-anchor: middle;
}
