.grid {
	display: grid;
	grid-template-rows: auto auto;
	gap: 8px 24px;
	justify-items: center;
}

.sizes {
	grid-template-columns: repeat(4, auto);
}

.colors {
	grid-template-columns: repeat(5, auto);
}

.icon {
	grid-row: 1;
}

.label {
	grid-row: 2;
	font-size: 12px;
	color: #666;
}
