.story {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.row {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 24px;
	background: var(--sapBackgroundColor);
	border-radius: 12px;
}
