.root {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 24px;
	height: 24px;
}

.small {
	width: 16px;
	height: 16px;
}

.medium {
	width: 24px;
	height: 24px;
}

.large {
	width: 32px;
	height: 32px;
}

.xlarge {
	width: 48px;
	height: 48px;
}

.inherited {
	color: inherit;
}

.primary {
	color: var(--sapBrandColor);
}

.secondary {
	color: var(--sapNeutralColor);
}

.success {
	color: var(--sapPositiveColor);
}

.warning {
	color: var(--sapCriticalColor);
}

.error {
	color: var(--sapNegativeColor);
}
