.setsBarBackground {
	fill: var(--sapBrandColor);
	opacity: 0.08;
	transition:
		x ease-in-out 0.3s,
		width ease-in-out 0.3s;
}

.setsBarDimmed {
	fill: var(--sapContent_NonInteractiveIconColor);
	transition:
		x ease-in-out 0.3s,
		width ease-in-out 0.3s;
}

.setsBar {
	fill: var(--sapBrandColor);
	transition:
		x ease-in-out 0.3s,
		width ease-in-out 0.3s;
}

.hoverBar {
	fill: transparent;
	stroke-width: 1px;
	cursor: pointer;
	stroke: var(--sapBrandColor);
	opacity: 0;
	transition: opacity ease-in-out 0.3s;
	outline: none;

	&:hover,
	&:focus-visible {
		opacity: 1;
	}
}

.setsLabel {
	font-size: var(--set-label-size);
	fill: var(--sapTextColor);
	text-anchor: start;
	dominant-baseline: middle;
	transition: all ease-in-out 0.3s;
}

.gridLine {
	stroke: var(--sapTextColor);
	opacity: 0.04;
	stroke-width: 1px;
}
