.root {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.indicator {
	width: var(--size, 32px);
	height: var(--size, 32px);
	display: block;
	object-fit: contain;
}

.dotFlashing {
	position: absolute;
	left: calc(var(--size, 32px) * 1.625);
	bottom: 20%;
	transform: translateY(50%);
	width: calc(var(--size, 32px) * 0.25);
	height: calc(var(--size, 32px) * 0.25);
	border-radius: calc(var(--size, 32px) * 0.15625);
	background-color: var(--reltio-color-primary-soft);
	animation: dotFlashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}

.dotFlashing::before,
.dotFlashing::after {
	content: "";
	position: absolute;
	top: 0;
	display: block;
	width: calc(var(--size, 32px) * 0.25);
	height: calc(var(--size, 32px) * 0.25);
	border-radius: calc(var(--size, 32px) * 0.15625);
	background-color: var(--reltio-color-primary-soft);
	animation: dotFlashing 1s infinite alternate;
}

.dotFlashing::before {
	left: calc(var(--size, 32px) * -0.375);
	animation-delay: 0s;
}

.dotFlashing::after {
	left: calc(var(--size, 32px) * 0.375);
	animation-delay: 1s;
}

@keyframes dotFlashing {
	0% {
		background-color: var(--reltio-color-primary-soft);
	}
	50%,
	100% {
		background-color: color-mix(
			in srgb,
			var(--reltio-color-primary-soft) 20%,
			transparent
		);
	}
}
