.root {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.indicator {
	width: 32px;
	height: 32px;
	display: block;
	object-fit: contain;
}

.dotFlashing {
	position: absolute;
	left: 52px;
	bottom: 20%;
	transform: translateY(50%);
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: var(--reltio-color-primary-soft);
	animation: dotFlashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}

.dotFlashing::before,
.dotFlashing::after {
	content: "";
	position: absolute;
	top: 0;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: var(--reltio-color-primary-soft);
	animation: dotFlashing 1s infinite alternate;
}

.dotFlashing::before {
	left: -12px;
	animation-delay: 0s;
}

.dotFlashing::after {
	left: 12px;
	animation-delay: 1s;
}

@keyframes dotFlashing {
	0% {
		background-color: var(--reltio-color-primary-soft);
	}
	50%,
	100% {
		background-color: color-mix(
			in srgb,
			var(--reltio-color-primary-soft) 20%,
			transparent
		);
	}
}
