.root {
	container-type: inline-size;
}

.root[data-disabled="true"] {
	opacity: 0.38;
	cursor: not-allowed;
}

.inputContainer {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"textarea"
		"toolbar";
	margin: 0;
	box-sizing: border-box;
	border-radius: 4px;
	outline: 1px solid var(--reltio-color-border-3);
	cursor: text;
	transition:
		outline-color 0.1s ease,
		outline-width 0.1s ease;
	background: var(--reltio-color-surface-1);
}

.root:focus-within .inputContainer {
	outline: 2px solid var(--reltio-color-primary);
}

.root[data-error="true"] .inputContainer {
	outline-color: var(--reltio-color-error);
}

.root[data-error="true"]:focus-within .inputContainer {
	outline: 2px solid var(--reltio-color-error);
}

.root[data-disabled="true"] .inputContainer {
	cursor: not-allowed;
}

.textarea {
	grid-area: textarea;
	position: relative;
	display: block;
	z-index: 1;
	border: none;
	outline: none;
	background: none;
	width: 100%;
	min-height: 56px;
	max-height: min(500px, 50cqh);
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: inherit;
	line-height: 1.5;
	resize: none;
	color: var(--reltio-color-text);
	padding: 16px;
	overflow-y: auto;
	field-sizing: content;
}

.textarea::placeholder {
	color: var(--reltio-color-text-secondary);
}

.root:focus-within .textarea::placeholder {
	color: var(--reltio-color-primary);
}

.root[data-error="true"] .textarea::placeholder {
	color: var(--reltio-color-error);
}

.textarea:disabled {
	cursor: not-allowed;
}

.label {
	position: absolute;
	opacity: 0;
	top: 16px;
	left: 8px;
	transform: translateY(-50%);
	transition: all 0.2s ease;
	background-color: var(--reltio-color-surface-1);
	padding: 4px 8px;
	border-radius: 4px;
	color: var(--reltio-color-text-secondary);
	z-index: 2;
	font-size: 16px;
	pointer-events: none;
}

.textarea:not(:placeholder-shown) + .label {
	top: -1px;
	font-size: 12px;
	opacity: 1;
}

.textarea:focus + .label {
	top: -1px;
	font-size: 12px;
	opacity: 1;
}

.root:focus-within .label {
	color: var(--reltio-color-primary);
}

.root[data-error="true"] .label {
	color: var(--reltio-color-error);
}

.supportingText {
	font-size: 12px;
	padding: 4px 16px;
	color: var(--reltio-color-text-secondary);
}

.root[data-error="true"] .supportingText {
	color: var(--reltio-color-error);
}

.toolbar {
	grid-area: toolbar;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	padding: 8px 12px;
}
