.root {
	display: inline-block;
	position: relative;
	flex-shrink: 0;
}

.spot {
	width: 128px;
	height: 128px;
}

.dialog {
	width: 240px;
	height: 160px;
}

.scene {
	width: 320px;
	height: 220px;
}

.svg {
	display: none;
	width: 100%;
	height: 100%;
}

.spot .svgSpot,
.dialog .svgDialog,
.scene .svgScene {
	display: block;
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
