.levelLines {
	position: absolute;
	display: flex;
	padding-left: 0;
	cursor: initial;
	bottom: 0;
	top: 0;
	z-index: 0;
}

.levelLine {
	padding-left: var(--reltio-tree-list-indent-size, 16px);
	height: 100%;
	position: relative;
}

.showLine::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	left: calc(var(--reltio-tree-list-indent-size, 16px) - 2px);
	top: 0;
	bottom: 0;
	background-color: var(--reltio-tree-list-line-color, rgba(0, 0, 0, 0.08));
}

.lastLevelLine::after {
	height: 50%;
}

.lastLevelLine {
	padding-left: calc(
		var(--reltio-tree-list-indent-size, 16px) +
		(var(--reltio-tree-list-toggle-size, 26px) / 2)
	);
}

.horizontalLine::before {
	content: "";
	height: 1px;
	width: 5px;
	position: absolute;
	top: 50%;
	left: calc(var(--reltio-tree-list-indent-size, 16px) - 2px);
	background-color: var(--reltio-tree-list-line-color, rgba(0, 0, 0, 0.08));
}
