.circle {
	stroke-width: 2px;
	fill: var(--sapNeutralBackground);
	stroke: var(--sapNeutralBackground);
	transition: fill ease-in-out 0.3s;
}

.activeCircle {
	fill: var(--sapBrandColor);
}

.dimmedCircle {
	fill: var(--sapContent_NonInteractiveIconColor);
}

.link {
	stroke: var(--sapBrandColor);
	stroke-width: 2px;
	transition: stroke ease-in-out 0.3s;
}

.dimmedLine {
	stroke: var(--sapContent_NonInteractiveIconColor);
}
