.userMessageRoot {
	display: inline-flex;
	background-color: var(--reltio-color-surface-2);
	border: 1px solid transparent;
	padding: 12px 16px;
	border-radius: 12px;
}

:global([data-theme="dark"]) .userMessageRoot {
	border-color: var(--reltio-color-border-2);
}
