.userMessageRoot {
	--reltio-user-message-background: var(--reltio-color-surface-raised);
	--reltio-user-message-padding: 12px 16px;
	--reltio-user-message-border-radius: 12px;

	display: inline-flex;
	background-color: var(--reltio-user-message-background);
	padding: var(--reltio-user-message-padding);
	border-radius: var(--reltio-user-message-border-radius);
}
